.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 100svh;
  background: rgba(239, 243, 4, 0.1);
  z-index: 9999;

  &__fill {
    width: 100%;
    background: var(--color-yellow);
    height: 0%;
    transition: height 0.3s var(--ease);
  }
}
