---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <h1>Datenschutz</h1>
    <hr />
    <h2>Ein Wort von Mensch zu Mensch</h2>
    <p>
      <strong>Hey, schön, dass du hier bist! Datenschutz liegt mir persönlich sehr am Herzen.</strong>
    </p>

    <p>
      Ich weiß, wie wichtig es ist, dass deine Daten geschützt sind – schließlich möchte ich auch, dass meine Daten
      sicher bleiben, wenn ich im Netz unterwegs bin. Auf dieser Website habe ich bewusst darauf geachtet, alles so
      anonym und transparent wie möglich zu halten. Das bedeutet:
    </p>

    <ul>
      <li><strong>Keine Bullshit-Tracking-Cookies,</strong></li>
      <li><strong>keine versteckten Datensammler,</strong></li>
      <li><strong>kein Overhead.</strong></li>
    </ul>

    <p>
      Matomo-Tracker, das ich hier nutze, wurde so konfiguriert, dass keine personenbezogenen Daten gespeichert werden.
      Alle Analysedaten verbleiben auf den Hosting-Servern von webgo, die ich ausschließlich für diese Website nutze –
      deine Daten verlassen diese Server nicht.
    </p>

    <h2>Warum ich Matomo benutze?</h2>

    <p>
      Ganz ehrlich – ich will einfach wissen, ob hier überhaupt jemand unterwegs ist oder ob ich hier ins digitale
      Nirvana spreche. Matomo hilft mir dabei zu sehen, welche Inhalte euch wirklich interessieren, damit ich nicht
      irgendwelchen Kram hochlade, den keiner braucht. Alles natürlich anonym und ohne Schnüffelei – einfach nur, um zu
      checken: Läuft der Laden hier, oder ist es nur mein Hosting-Anbieter, der meine Seite besucht?
    </p>

    <h2>Fragen?</h2>

    <p>
      Für mich ist es wichtig, dass du dich hier sicher fühlen kannst und einfach den Content genießen kannst, ohne dir
      Sorgen machen zu müssen.
    </p>

    <p>
      Falls du Fragen hast, schreib mir gerne eine E-Mail an: <a href="mailto:privacy@karameht.net"
        >privacy@karameht.net</a
      >.
    </p>
  </section>
</BaseLayout>
