---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <h1>Impressum</h1>
    <hr />
    <address>
      <p>Mehmet Karaca</p>
      <p>c/o Postflex #8194</p>
      <p>Emsdettener Str. 10</p>
      <p>48268 Greven</p>
      <p><strong>Keine Pakete oder Päckchen – Annahme wird verweigert!</strong></p>
    </address>

    <h2>Postflex?</h2>
    <p>
      Falls du dich fragst, warum hier
      <a href="https://www.postflex.de/" target="_blank">Postflex</a> steht: Ich schätze meine Privatsphäre. Diese Adresse
      ist rechtlich ladungsfähig, aber nicht mein Wohnzimmer – und das bleibt auch so! Wenn du mich kontaktieren möchtest,
      schreib mir eine Mail. Alles andere wird ignoriert, abgelehnt oder – im schlimmsten Fall – gelöscht (oder von meinem
      Anwalt beantwortet).
    </p>
    <hr />
    <h2>Kontakt</h2>
    <p>
      E-Mail: <a href="mailto:42@karameht.net">42@karameht.net</a>
      <br />
      <em>(Ja, die Antwort auf alles. 😜 – Nerd-Humor)</em>
    </p>
    <hr />
    <h2>Redaktionell verantwortlich</h2>
    <p>
      Mehmet Karaca
      <br />
      <em>(Der Typ, der hier Texte schreibt, Codes optimiert und euch eine gute Zeit bereiten will. 💛)</em>
    </p>
    <hr />
    <h2>Feedback ist immer willkommen!</h2>
    <p>
      Hey, niemand ist perfekt – auch nicht diese Website. Wenn dir hier irgendwas auffällt, was nicht passt, ein Link
      ins Leere läuft oder du denkst, dass irgendwas besser sein könnte: Schreib mir einfach!
    </p>
    <p>
      Du erreichst mich unter <a href="mailto:42@karameht.net">42@karameht.net</a>.
      <br />
      Betreff: <em>„Ey, Mehmet, das geht besser!“</em> 😜
    </p>
    <p>
      Oder noch einfacher: Schreib mir auf <strong>Discord</strong>! Du findest mich dort als <strong>karameht</strong>.
      Einfach kurz anschreiben, und wir kriegen das hin!
    </p>
    <p>
      Ich freue mich über deine Hinweise, Ideen oder auch über ein einfaches „Gude!“, „Ja Moin“, „Grüß dich“. Feedback
      macht diese Seite besser – und dafür danke ich dir jetzt schon! 🙌
    </p>
  </section>
</BaseLayout>
