---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="karameht | Manufaktur für digitale Askese"
  description="Das Siegel der Unnachahmlichkeit in der Manufaktur für digitale Askese ... die Schöpfung von [ˈʁɛflɛksi̯oːn]"
>
  <h1>STARTSEITE</h1>
</BaseLayout>
