---
import Signature from "@/components/Signature.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <p>Das Siegel der Unnachahmlichkeit in der</p>
  <h1>Manufaktur für digitale Askese</h1>

  <hr />

  <p><em>… die Schöpfung von [ˈʁɛflɛksi̯oːn] – im Kopf geformt, vom Herzen geschmiedet.</em></p>

  <p>
    <strong>Fortschritt hat viele Namen.</strong> Einer davon ist Abschied. Einer ist Erbe. Ein Erbe des Könnens – geschmiedet
    über Generationen. Von Handwerksmeistern, Dichtern und Denkern, Künstlern und Visionären. Vom Amboss zur Architektur.
    Vom Meißel zum Mauszeiger. Und heute:
  </p>

  <blockquote>meistens, lieblose Kunst, KI & leere Köpfe.</blockquote>

  <p>
    Doch technischer Fortschritt geschieht nicht im Vakuum. Er steht auf den Schultern jener, die mit harter Arbeit,
    klarem Blick und stiller Größe den Weg bereitet haben.
  </p>

  <blockquote>
    Ohne sie – keine Idee. Kein System.<br />
    Kein Fundament für die Zeiten von heute.
  </blockquote>

  <p>
    Ich erkenne den Wert ihrer Arbeit. Ich lerne aus ihrem Vermächtnis. Ich übertrage ihre Prinzipien in meine
    Entwicklung. Nicht aus Nostalgie – sondern aus Respekt.
  </p>

  <p>Und weil ich weiß:</p>

  <blockquote>
    Zukunft entsteht nicht aus Trends.<br />
    Zukunft entsteht aus Herkunft.<br />
    Zukunft entsteht aus Notwendigkeit.
  </blockquote>

  <p>
    <strong>Ich bin Softwareentwickler.</strong> Aber ich schreibe nicht nur Code. Ich forme Systeme. Ich schärfe Identität.
    Ich baue Klarheit. Als Maßanzug für die Gestaltung digitaler Anziehungspunkte.
  </p>

  <p>
    <em>Kurz gesagt:</em> Ein Versprechen an mich selbst – das Bindeglied zu sein zwischen sichtbarem und verständlichem
    Code. Ein Raum zu schaffen, in dem digitale Schöpfung aus Reflexion entsteht.
  </p>

  <hr />

  <p>Dies ist meine Manufaktur.</p>

  <p>
    Ein Raum, in dem über zwei Jahrzehnte Entwicklung, Scheitern und Erkenntnis zu Substanz verschmolzen sind.
    Verdichtet zu einem Ort für Klarheit, Haltung und digitale Reflexion. Alles, was ich gelernt, gelebt und gedacht
    habe – findest du hier. Nicht als fertiges Produkt. Sondern als Einladung, mitzudenken.
  </p>

  <blockquote>
    Denn manche Worte brauchen Zeit, Systeme Reife – <br />
    und manche Gedanken den richtigen Moment,<br />
    um geschrieben zu werden, wenn sie längst gedacht wurden.
  </blockquote>

  <Signature />
</BaseLayout>
