<footer class="footer" role="contentinfo">
  <div class="footer__left">
    <p class="footer__copyright">
      © 2024 karameht
      <span class="footer__tagline"> | Manufaktur für digitale Askese </span>
    </p>
  </div>
</footer>
