---
import BaseLayout from "./BaseLayout.astro";
const pageProps = Astro.props;
---

<BaseLayout {...pageProps}>
  <div class="progress-bar">
    <div class="progress-bar__fill"></div>
  </div>
  <slot />
</BaseLayout>
